h2 {
  font-size: 16px;
  margin-top: 20px;
}

#incomplete_tasks form {
  margin: 5px 0;
}

#complete_tasks form {
  font-size: 12px;
  color: #777;
  margin: 3px 0;
  label { text-decoration: line-through; }
}


.edit_task {
  a {
    color: #999;
    font-size: 12px;
    text-decoration: none;
    &:hover { text-decoration: underline; }
  }
}
